*{
    margin:0;
    padding: 0;

    background-color: khaki;
    color: black;
}
.navigation{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background: crimson;
    color: white;
    height: 64px;
    padding: 0 1rem;
}

.navigationButton{
    padding: 10px;
    background: white;
    margin: 1 rem;
    font-size: 15px;
    border: none;
    outline: 0;
    cursor: pointer;
    
}
.body{
    padding: 40px;
    margin: 40px;
    text-align: center;
}
.para{
     align-items: center;
     justify-content: center;
     background-color: blue;
     color: white;
     text-align: center;
     height:20px;
    width:40px;
    margin-left: 49%;
    padding: 10px;
}

.para1{
    align-items: center;
    justify-content: center;
    background-color: red;
    color: white;
    text-align: center;
    height:20px;
    width:40px;
    margin-left: 49%;
    padding: 10px;
}

.heading{
    text-align: center;
}
.head{
    text-align: center;
}

.button{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 47%;
    background-color: yellowgreen;
    color: white;
    padding: 10px;
}

.para2{
    align-items: center;
    justify-content: center;
    background-color:blueviolet;
    color: white;
    text-align: center;
    height:40px;
    width: 500px;
    margin-left: 30%;
    padding: 10px;
}